{% extends "bp/base.html" %}

{% load static %}

<title>{% block title %}Ingresar-Comprando Presentes{% endblock %}</title>

{% block content %}

    <!-- Login Start -->
    <div id="login" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Ingresa</h5>
                <h1 class="mb-0"></h1>
            </div>    
            <div class="row justify-content-center g-5">
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                    <div class="row g-3">
                        {% if form.errors %}
                            <p>Tu Usuario y/o Contraseña incorrectos. Por favor, ingresa nuevamente.</p>
                        {% endif %}

                        {% if next %}
                            {% if user.is_authenticated %}
                            <p>Tu cuenta no tiene acceso a este sitio. Para ver este sitio ingresa con una cuenta que tenga acceso.</p>
                            {% else %}
                            <p>Por favor, registrate para acceder a este sitio.</p>
                            {% endif %}
                        {% endif %}
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-6 form-control border-0 bg-light px-4" style="height: 55px;">
                                    {{ form.username.label_tag }} {{ form.username }}
                                </div>
                                <div class="col-md-6 form-control border-0 bg-light px-4" style="height: 55px;">
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                </div>       
                                <div class="col-12">
                                    <button class="send btn-outline-light py-md-3 px-md-5 me-3 animated slideInLeft" type="submit">Enviar</button>
                                    <input type="hidden" name="next" value="{{ next }}" />                                                                
                                </div>
                            </div>
                        </form>
                        <p><a href="{% url 'password_reset' %}">Olvidaste tu contraeña?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->

{% endblock %}
    

