{% extends "bp/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Renovar Constraseña" %}{% endblock %}

{% block content %}
    <h1>{% trans "Renovar Constraseña" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Te hemos enviado un e-mail. Si no lo has recibido por favor revisa tu carpeta de Spam. De lo contrario, contáctanos si no lo has recibido en unos minutos.{% endblocktrans %}</p>
{% endblock %}