{% extends "bp/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Renovar Contraseña" %}{% endblock %}

{% block content %}

    <h1>{% trans "Renovar Contraseña" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Olvidaste tu contraseña? Ingresa tu e-mail y te enviaremos un e-mail con el permiso para renovarla." %}</p>

    <form method="POST" action="{% url 'password_reset' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Renovar mi Contraseña' %}" />
    </form>

    <p>{% blocktrans %}Si tienes algún problema renovando tu contraseña contáctanos.{% endblocktrans %}</p>
{% endblock %}