{% extends "bp/base.html" %}

{% load i18n %}

<title>{% block title %}Reestablecer Contraseña - Comprando Presentes{% endblock %}</title>

{% block content %}

    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Reestablecer Contraseña</h5>
                <h1 class="mb-0">Si olvidaste tu contraseña sigue los pasos para recuperarla.</h1>
            </div>

            <!--Password Reset Start -->
            
            {% if user.is_authenticated %}
            {% include "account/already_logged_in.html" %}
            {% endif %}
            <div class="container text-center mx-auto bg-faded">
                <p>{% trans "Olvidaste tu contraseña? <br>Ingresa tu e-mail y te enviaremos el link con el permiso para renovarla." %}</p>
                <form method="POST" action="{% url 'password_reset' %}" class="btn send animated slideInLeft password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn send animated slideInLeft" value="{% trans 'Renovar mi Contraseña' %}" />
                </form>
                <p>{% blocktrans %}Si tienes algún problema renovando tu contraseña <a href="/#contact">contáctanos.{% endblocktrans %}
            </div>
            <!--Password Reset Start -->
        </div>
    </div>

{% endblock %}
