{% extends "bp/base.html" %}

{% load i18n %}

<title>{% block title %}Verifica identidad-Comprando Presentes{% endblock %}</title>

{% block content %}
<h1>{% trans "Verifica tu identidad" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Para continuar necesitamos que verifiques tu identidad. Para ello necesitamos que verifiques ser dueñ@ de la dirección de email que registraste. {% endblocktrans %}</p>

<p>{% blocktrans %}Te hemos enviado un email para tu verificación. Hemos enviado un email de verificación. Por favor, haz click en el link que contiene el email para finalizar el proceso de tu registro. Si no ves el email de verificación en tu Bandeja de Entrada, revisa en tu carpeta de Spam. Contáctanos si no recibes nuestro email de verficación en los próximos minutos.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Atención!:</strong> aún puedes <a href="{{ email_url }}">cambiar tu dirección de email</a>.{% endblocktrans %}</p>


{% endblock %}