{% extends 'bp/base.html'%}
{% load static %}

{% block content %}

    <!-- Carousel Start -->
    <div class="container-fluid position-relative p-0">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'images/floating.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">BootCamp</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">M6 Django </h1>
                            <h3 class="text-white mb-3 animated slideInDown">Actividades realizadas de los Aprendizajes
                                Esperados.</h3>
                            <a href="https://github.com/Marifer1111/M6" target="_blank" rel="noopener noreferrer"
                                class="btn btn-outline-light py-md-3 px-md-5 me-3 animated slideInLeft">GitHub</a>
                            <a href={% url 'abp' %} class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Galería</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'images/purple-mountain.jpg' %}" alt="purple-mountain">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h3 class="display-1 text-white mb-md-3 animated zoomIn">Experimenta y Disfruta</h3>
                            <a href="#presents"
                                class="btn btn-outline-light py-md-3 px-md-5 me-3 animated slideInLeft">Presentes</a>
                            <a class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight" href={% url 'post-it' %}>Post-It</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'images/clock1.jpg' %}" alt="clock">
                    <div class="carousel-caption d-flex flex-column align-items-center clock justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <a href="https://open.spotify.com/embed/track/0ny5zITdmyNwyTPVzRGscU?utm_source=generator"
                                target="_blank" rel="noopener noreferrer"
                                class="btn btn-outline-light py-md-3 px-md-5 me-3 animated slideInLeft">
                                <i class="bi bi-play"></i> Play</a>
                            <a href="#presents"
                                class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Presentes</a>
                            <h4 class="display-1 text-white mb-md-3 animated zoomIn">What you waiting for?</h4>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previo</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- We're Start -->
    <div id="team" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.3s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">Somos</h5>
                        <h1 class="mb-0">Equipo, Unión y Creatividad.</h1>
                    </div>
                    <p class="mb-4 somos">Comprando Presentes (CP) es el resultado de la busqueda de un grupo de personas
                        (Aracely, Vianny)
                        por otorgar un servicio que ayude a conectarnos con nuestra vida y disfrutarla con cada
                        presente/regalo que
                        ella nos.</p>
                </div>
                <div class="col-lg-5" style="max-height: 700px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.6s"
                            src="{% static 'images/team.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- We're End -->

    <!-- Team Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Equipo</h5>
                <h1 class="mb-0">Transdisciplinario, Multicultural e Inclusivo.</h1>
            </div>
            <div class="row  text-center">                
                <div class="col-sm-4  wow slideInUp" data-wow-delay="0.3s">
                    <p class="text-center"><b>María-Fernanda<br>"Marifer"<br>Villalobos L.</b></p><br>
                    <a href="#team1" data-bs-toggle="collapse">
                        <img src="{% static 'images/marifer.jpg' %}" class="rounded-circle person" alt="Marifer" width="255" height="255">
                    </a>
                    <div id="team1" class="collapse">
                        <p><b>CEO</b></p>
                        <p>Caminadora modo Forest Gump.</p>
                        <p>Melómana y Cinéfila.</p>
                        <p>Creadora y Fundadora de CP en 2019.</p>
                    </div>
                </div>
                <div class="col-sm-4  wow slideInUp" data-wow-delay="0.6s">
                    <p class="text-center"><b>Aracely<br>"La Matrona"<br>Guzman</b></p><br>
                    <a href="#team2" data-bs-toggle="collapse">
                        <img src="{% static 'images/Aracely.jpg' %}" class="rounded-circle person" alt="Aracely" width="255" height="255">
                    </a>
                    <div id="team2" class="collapse">
                        <p><b>Accounting Manager</b></p>
                        <p>Apasionada por la vida.</p>
                        <p>Servicial 24/7.</p>
                        <p>Se integró el 2022.</p>
                    </div>
                </div>
                <div class="col-sm-4  wow slideInUp" data-wow-delay="0.9s">
                    <p class="text-center"><b>Vianny<br>"Dance"<br>Vargas</b></p><br>
                    <a href="#team3" data-bs-toggle="collapse">
                        <img src="{% static 'images/vianny.JPG' %}" class="rounded-circle person" alt="Vianny" width="255" height="255">
                    </a>
                    <div id="team3" class="collapse">
                        <p><b>Sales Manager</b></p>
                        <p>Buscadora imparable</p>
                        <p>El baile, su combustible.</p>
                        <p>Se integró el 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <!-- Presents/Services Start -->
    <div id="presents" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Presentes</h5>
                <h1 class="mb-0">Los mejores regalos para disfrutar cada instante.</h1>
            </div>
            <div class="row g-5">
                <div id="enjoy" class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="services-item bg-light rounded overflow-hidden">
                        <div class="services-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'images/hiking.jpg' %}" alt="hiking">
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                                href="">$ 22.000 CLP p/p</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-primary me-2"></i>Marifer</small>
                                <small><i class="far fa-calendar-alt text-primary me-2"></i>03 Sept, 2022</small>
                            </div>
                            <h4 class="mb-3">Disfrutando el Viaje</h4>
                            <p>Trekking grupal.
                                <br>Incluye:
                                <br><i class="fa fa-check text-primary me-3"></i>Guía turístico.
                                <br><i class="fa fa-check text-primary me-3"></i>Picnic.
                                <br><i class="fa fa-check text-primary me-3"></i>Actividades de Atención Plena.
                            </p>
                            <a class="text-uppercase" href="">Comprar</a>
                        </div>
                    </div>
                </div>
                <div id="live" class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                    <div class="services-item bg-light rounded overflow-hidden">
                        <div class="services-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'images/tandem.jpg' %}" alt="">
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                                href="">$ 220.000 CLP p/p</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-primary me-2"></i>Marifer</small>
                                <small><i class="far fa-calendar-alt text-primary me-2"></i>29 Oct, 2022</small>
                            </div>
                            <h4 class="mb-3">Viviendo el Presente</h4>
                            <p>Salto en Tandem.
                                <br>Incluye:
                                <br><i class="fa fa-check text-primary me-3"></i>Taller de Atención Plena.
                                <br><i class="fa fa-check text-primary me-3"></i>Registro Audiovisual.
                            </p>
                            <a class="text-uppercase" href="">Comprar</a>
                        </div>
                    </div>
                </div>
                <div id="laugh" class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                    <div class="services-item bg-light rounded overflow-hidden">
                        <div class="services-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'images/standup.jpg' %}" alt="">
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                                href="">$ 33.000 CLP p/p</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-primary me-2"></i>Marifer</small>
                                <small><i class="far fa-calendar-alt text-primary me-2"></i>11 Nov, 2022</small>
                            </div>
                            <h4 class="mb-3">La vida es un chiste</h4>
                            <p>Taller intensivo de Stand Up. <br> Aprende a disfrutar de todos los matices de tu vida.
                                <br>Incluye:
                                <br><i class="fa fa-check text-primary me-3"></i>Clase con profesional del Humor.
                                <br><i class="fa fa-check text-primary me-3"></i>Presentación Final en Pub.
                            </p>
                            <a class="text-uppercase" href="">Comprar</a>
                        </div>
                    </div>
                </div>
                <div id="couple" class="col-lg-4 wow slideInUp" data-wow-delay="0.12s">
                    <div class="services-item bg-light rounded overflow-hidden">
                        <div class="services-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'images/soul-mates.jpg' %}" alt="">
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                                href="">$ 220.000 CLP p/p</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-primary me-2"></i>Marifer</small>
                                <small><i class="far fa-calendar-alt text-primary me-2"></i>06 Jun, 2022</small>
                            </div>
                            <h4 class="mb-3">Conecta2</h4>
                            <p>Programa para encontrar a tu compañer@ de camino.
                                <br>Incluye:
                                <br><i class="fa fa-check text-primary me-3"></i>Evaluación integral para crear tu ficha
                                personal.
                                <br><i class="fa fa-check text-primary me-3"></i>Talleres para pontenciarte.
                                <br><i class="fa fa-check text-primary me-3"></i>Programa de acompañamiento.
                                <br><i class="fa fa-check text-primary me-3"></i>Conexión con 3 perfiles idóneos.
                                <br><i class="fa fa-check text-primary me-3"></i>Evento Final de Re-unión.
                            </p>
                            <a class="text-uppercase" href="">Comprar</a>
                        </div>
                    </div>
                </div>
                <div id="taste" class="col-lg-4 wow slideInUp" data-wow-delay="0.15s">
                    <div class="services-item bg-light rounded overflow-hidden">
                        <div class="services-img position-relative overflow-hidden">
                            <img class="img-fluid" src="{% static 'images/cooking-thebox-625x408.jpg' %}" alt="">
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
                                href="">$ 44.000 CLP</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-primary me-2"></i>Marifer</small>
                                <small><i class="far fa-calendar-alt text-primary me-2"></i>3 Feb, 2023</small>
                            </div>
                            <h4 class="mb-3">Saboreando</h4>
                            <p>Taller de cocina para ti y un amig@ o pareja.
                                <br>Incluye:
                                <br><i class="fa fa-check text-primary me-3"></i>Clase y degustación para 2 personas.
                                <br><i class="fa fa-check text-primary me-3"></i>Ingredientes y utencilios.
                            </p>
                            <a class="text-uppercase" href="">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Presents/Services End -->

    <!-- Contact Start -->
    <div id="contact" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Contáctanos</h5>
                <h1 class="mb-0">Disponemos de diferentes plataformas para aclarar tus dudas o saber de ti.</h1>
            </div>
            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Llámanos</h5>
                            <h4 class="text-primary mb-0">+56 9 903 03 456</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 align-items-center ">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Correo electrónico</h5>
                            <h4 class="text-primary mb-0">info@presentes.com</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Visita nuestros Centros</h5>
                            <h4 class="text-primary mb-0"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center g-5">
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <input type="text" class="form-control border-0 bg-light px-4" placeholder="Tu Nombre"
                                    style="height: 55px;">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control border-0 bg-light px-4" placeholder="Tu Email"
                                    style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control border-0 bg-light px-4" placeholder="Asunto"
                                    style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0 bg-light px-4 py-3" rows="4"
                                    placeholder="Mensaje"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Find us Start -->
    <div id="maps" class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center">
                <h5 class="fw-bold text-primary text-uppercase">Encuéntranos</h5>
                <h1 class="mb-0">Cada vez más cerca de ti.</h1>
            </div>
            <div class="row g-5">
                <div class="section-icon text-center">
                    <img class="map-icon" src="{% static 'images/chile-flag.jpg' %}" alt="CL">
                </div>
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                    <iframe class="map position-relative rounded"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8661.62697722018!2d-71.5360581820046!3d-33.00509546724192!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689ddcf5228e571%3A0x9417c2f3c6c4713c!2zU3RhLiBJbsOpcywgVmnDsWEgZGVsIE1hciwgVmFscGFyYcOtc28sIENoaWxl!5e0!3m2!1ses-419!2sus!4v1651430654059!5m2!1ses-419!2sus"
                        frameborder="0" style="min-height: 350px; width: 500px; border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                    <iframe class="map position-relative rounded"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3373.2145561351294!2d-71.008073!3d-32.279209!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9688f7d573227391%3A0x2bad6fb53f0b9ce!2sE-35%2C%20Hierro%20Viejo%2C%20Petorca%2C%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1651430793696!5m2!1ses-419!2scl"
                        frameborder="0" style="min-height: 350px; width: 500px; border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="section-icon text-center">
                    <img class="map-icon" src="{% static 'images/argentina-flag.jpg' %}" alt="ARG">
                </div>
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.9s">
                    <iframe class="map position-relative rounded"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13622.129814907632!2d-64.194344!3d-31.399453!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432985f478f5b69%3A0xb0a24f9a5366b092!2sC%C3%B3rdoba%2C%20Argentina!5e0!3m2!1ses-419!2scl!4v1651430826929!5m2!1ses-419!2scl"
                        frameborder="0" style="min-height: 350px; width: 500px; border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.12s">
                    <iframe class="map position-relative rounded"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6695.865036652344!2d-60.660401!3d-32.952791!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7aca0270c1fbb%3A0x9f562a7775316f18!2sMontevideo%2C%20Rosario%2C%20Santa%20Fe%2C%20Argentina!5e0!3m2!1ses-419!2scl!4v1651430874630!5m2!1ses-419!2scl"
                        frameborder="0" style="min-height: 350px; width: 500px; border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="section-icon text-center">
                    <img class="map-icon" src="{% static 'images/uk-flag.png' %}" alt="UK">
                </div>
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.15s">
                    <iframe class="map position-relative rounded"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1458.8108735924918!2d-0.0849311189104854!3d51.53291697410636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761ca324b5a02d%3A0xea3901df9638753b!2sLondres%20N1%205JJ%2C%20Reino%20Unido!5e0!3m2!1ses-419!2scl!4v1643227185985!5m2!1ses-419!2scl"
                        frameborder="0" style="min-height: 350px; width: 500px; border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- Find us End -->

{% endblock %}