{% extends 'bp/base.html'%}

<title>{% block title %}Post-It Wall-Comprando Presentes{% endblock %}</title>


{% block content %}

    <div class="container bg-faded">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="btn btn-secondary"  class="top-menu">
                {% include './icons/file-earmark-plus.svg' %}
            </a>
        {% endif %}
    </div>
    <!-- Post-it Wall Start -->
    {% for user in users %}
        <div class="container bg-faded">
            <div class="row">
                <div class="col-4 mx-auto">
                    <div class="card card-body mb-2" >
                            <p class="postdate"><time> publicado: {{post.published_date}}</time></p>
                            <p class="posttitle" >
                                <a href="{% url 'post_detail' pk=post.pk %}" {{ post.title}}</a></p>
                            <div class="box1"><p id= "posttext"> {{post.text|linebreaksbr}}</p></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
    <!-- Post-it Wall End -->


{% endblock %}