{% extends 'bp/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                {% include './icons/pencil-fill.svg' %}
                </a>
            {% endif %}
        </aside>
        {% if post.published_date %}
            <time id= "published" class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <p id="publ-title">{{ post.title }}</p>
        <div>
            <p id="postdetail" class= "paragraph" >{{ post.text|linebreaksbr }}</p></div>
    </article>
{% endblock %}