{% extends 'bp/base.html'%}

<title>{% block title %}Post-It Wall-Comprando Presentes{% endblock %}</title>


{% block content %}
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Muro de Post-It </h5>
                <h1 class="mb-0">Aquí encuentras todos los mensajes de esta gran comunidad</h1>
            </div>

            <!-- New Post-it  Start -->
            <div class="container bg-faded">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="btn send animated slideInLeft"  class="top-menu"> 
                        {% include './icons/file-earmark-plus.svg' %} Crear Post-It
                    </a>
                {% endif %}
            </div>
            <!-- New Post-it  Start -->


            <!-- Post-it Wall Start -->
            {% for user in users %}
                <div class="sticky-container">
                    <div class="sticky-outer">
                        <div class="sticky">
                            <svg width="0" height="0">
                            <defs>
                                <clipPath id="stickyClip" clipPathUnits="objectBoundingBox">
                                <path
                                    d="M 0 0 Q 0 0.69, 0.03 0.96 0.03 0.96, 1 0.96 Q 0.96 0.69, 0.96 0 0.96 0, 0 0"
                                    stroke-linejoin="round"
                                    stroke-linecap="square"/>
                                </clipPath>
                            </defs>
                            </svg>
                            <div class="sticky-content" >
                                <p class="postdate"><time> publicado: {{post.published_date}}</time></p>
                                <p class="posttitle" >
                                <a href="{% url 'post_detail' pk=post.pk %}" {{ post.title}}</a></p>
                                <div class="box1"><p id= "posttext"> {{post.text|linebreaksbr}}</p></div>
                            </div>
                        </div>
                    </div>
                </div>            
            {% endfor %}
            <!-- Post-it Wall End -->
        </div>
    </div>


{% endblock %}